ddns-updates            on;
ignore                  client-updates;
authoritative;
update-static-leases    on;
ddns-update-style       interim;
option time-offset      -18000;
log-facility            local6;

key dhcpd {
    algorithm hmac-sha256;
    secret "0VQ30XWSNNz+rjpV0vh8aabL09RLRp179XiQ1TVxSZQ=";
    # Secret! TODO: hide haha
}
zone lan. {
    #primary dns;
    primary {{ dns_server }};
    key dhcpd;
}
zone 1.1.10.in-addr.arpa. {
    #primary dns;
    primary {{ dns_server }};
    key dhcpd;
}
shared-network main {
  option routers {{ internalv4 }};
  option domain-name-servers {{ internalv4 }};
  option domain-name "{{ internal_domain }}";
  option log-servers {{ internalv4 }};
  option arp-cache-timeout 8600;
  option interface-mtu {{ subnets_v4[0]['mtu'] }};
  option max-dgram-reassembly {{ subnets_v4[0]['mtu'] }};
  option path-mtu-aging-timeout 30;
  option path-mtu-plateau-table 1500;

  max-lease-time 518400;
  default-lease-time 259200;
  authoritative;
  ddns-updates on;
{% for subnet in subnets_v4 %}
  subnet {{ subnet.network_v4 }} netmask {{ subnet.netmask_v4 }} {
{% if pxe is defined and subnet.bootp_begin is defined %}
    allow booting;
    allow bootp;
{% endif %}

{% for pool in subnet.pool %}
    pool {
      range {{ pool.range_begin }} {{ pool.range_end }};
      {% if pool.allowance is defined %}allow members of {{ pool.allowance }};{% endif %}
{% if subnet.bootp_begin is defined %}
      #option broadcast-address {{ pool.broadcast | default(subnet.broadcast_v4) }};
      #option subnet-mask {{ pool.mask | default(subnet.network_v4) }};
      range dynamic-bootp {{ subnet.bootp_begin }} {{ subnet.bootp_end }};
      #option vendor-class-identifier "PXEClient";
      option tftp-server-name "{{ subnet.tftp_server |default(pxe.tftp_server) }}";
      option root-path "/home/guest";
{% endif %}
    }
{% endfor %}
{% if pxe is defined %} # PXE GROUP
  group {
    if option arch = 00:10 { # x86-64 UEFI
      filename "http:///ipxe.efi";
{% for arch in pxe.arch %}
    } elsif option arch = {{ arch.hex }} {
      filename "{{ arch['options']['boot-file-name'] }}";
{% endfor %}
    } else {
      filename "{{ pxe.bios_file | default("pxelinux.0") }}";
      option tftp-server-name "{{ pxe.tftp_server }}";
      next-server {{ internalv4 }};
      option bootfile-name "{{ pxe.bios_file | default("pxelinux.0") }}";
    }
}
{% endif %}
  }{% endfor %}
{% if net_hosts is defined and net_hosts |length >= 1 %}

group { #manual lease groups
{% for host in net_hosts %}
{% for entry in host.interfaces %}
  host {{ entry.name }} {
    ddns-hostname "{{ entry.name }}";
    hardware ethernet {{ entry.hwaddr }};
    fixed-address {{ entry.address }};
  }
{% endfor %}
{% endfor %}
  }
{% endif %}
}{# end shared network #}
