$ORIGIN {{ zone['origin'] }}
$TTL {{ zone['ttl'] | default('3600') }}
{{ zone['name'] }}		IN SOA  {{ zone['authority_ns'] }}. {{ zone['technical_contact'] | default(zone['parent_ns']) }}. (
                                {{ zone['serial'] }}		; serial
                                {{ zone['refresh'] | default('3600') }}		; refresh (1 hour)
                                {{ zone['retry'] | default('600') }}		; retry (10 minutes)
                                {{ zone['expire'] |default('86400') }}		; expire (1 day)
                                {{ zone['minimum'] | default('600') }}		; minimum (10 minutes)
                                )
{% if zone['parent_ns'] is defined %}
NS      {{ zone['parent_ns'] }}.
{% endif %}

{% for record in zone['records'] %}
{{ record }}
{% endfor %}
