; @ = {{ zone.domain_name }}
@				IN SOA  {{ zone.authority_ns }} {{ zone.technical_contact | default('none.') }} (
                                {{ zone.serial }}		; serial
                                {{ zone.refresh | default('3600; template default hit (1 hour)') }}
                                {{ zone.retry | default('600 ; template default hit (10 minutes)') }}
                                {{ zone.expire |default('86400 ; template default hit (1 day)') }}
                                {{ zone.minimum | default('600 ; template default hit (10 minutes)') }}
                                )
{% if zone.parent_ns is defined %}
				IN NS      {{ zone.parent_ns }}
{% else %} 
				IN NS {{ zone.authority_ns }}
{% endif %}

$TTL {{ zone.ttl | default('3600') }}
; ----- BEGIN ZONE RESOURCE RECORDS -----
{% if zone.records is defined %}{% for record in zone.records %}
{{ record }}
{% endfor %}{% else %}
; No embedded zone records{% endif %}
; ----- END ZONE RESOURCE RECORDS -----
; 
; ----- BEGIN NET_HOSTS RECORDS -----
{% for host in net_hosts %}
{% if zone.domain_name.startswith(host.domain) %}
{% for iface in host.interfaces %}
{{ iface.name }}  IN A {{ iface.address }}
{% endfor %}{% endif %}
{% endfor %}
; ----- END NET_HOSTS RECORDS -----
; ----- BEGIN ZONE RESOURCE RECORDS -----
{% if resource_records is defined and (resource_records | length) >= 1 %}
; ----- BEGIN GLOBALLY SOURCED RAW RESOURCE RECORDS -----
{% for r in resource_records %}
{{ r }}
{% endfor %}
{% endif %}
; ----- END RAW RESOURCE RECORDS -----
